---
layout: post
title: Using Twitter Digits for User Registration through SMS
description: How to use twitter digits for sms verification without handling backend part
date: 2016-06-23 20:49
author: swarajsaaj
comments: true
excerpt: How to use twitter digits for sms verification without handling verification.
permalink: posts/twitter-digits-sms-user-registration
categories: [android]
---

# Introduction
